<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Property Utility for Java </title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:src="@{/js/main.js}"></script>

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"/>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark  fixed-top" style="background-color: #003d7d;">
    <a class="navbar-brand" href="#"> Property Utility for Java </a>
</nav>

<main role="main" class="container" id="maincontainer">

    <div class="row">
        <div class="col-md-6 offset-3">
            <h3>Welcome to property comparison utility </h3>
            <br>
            <p>Please use Upload Properties for files comparing or merging properties
                with more than 1000 lines each.
                Since some browser only allows onlt 2000 lines in text area.
                <br><br>All output are in UTF-8 format and are parsable by javascript since the double quotes and single
                quotes are replaced with left equal values.
            </p>


        </div>
    </div>
    <br><br>
    <div class="row">


        <div class="col-md-6 ">

            <a class="btn btn-primary" href="/upload" style="float:right">Upload Properties</a>


        </div>

        <div class="col-md-6 ">

            <a class="btn btn-primary" href="/clipboard">Paste Properties</a>


        </div>

    </div>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>